fastapi[all]
pytest
pydantic
sqlalchemy
psycopg2
alembic
passlib
fastapi_mail
bcrypt

oauth-client-lib @ git+https://github.com/slistov/oauth-client-lib.git#egg=oauth-client-lib

google-api-python-client
google-auth 
google-auth-oauthlib 
google-auth-httplib2

python-jose[cryptography]